


#main {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 10%;
    width: 100%;
    overflow-x: hidden;
}
#main > section {
    margin-bottom: 20px;
    font-family: 'Arial', monospace;
}

.task-text, .task-code {
    border: 1px solid black;

}


.task-text > *, .task-code > * {
    padding-left: 15px;
    padding-right: 5px;
}



.question {
    display: flex;
    flex-direction: column;

}

.question > * {
    padding-bottom: 5px;
}

.subtitle {
    font-weight: bold;
}

h1 {
    font-family: 'Courier New', monospace;
}

.title {
    font-family: monospace;
    text-decoration: underline;
}

html {

}

iframe {
    resize: both;
    overflow: auto;
}

.wireframe-link:hover {
    cursor: pointer;
}

.wireframe-link {
    color: cornflowerblue;
}


#error-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
}

#error-container > p {
    font-size: larger;
}

#error-container > button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #3a4149;
    background: #e7ebee;
    line-height: 1.15;
    font-size: 16px;
}

#error-container > button:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

@media (max-width: 550px) {
    #exercise-sidebar {
        display: none;
        visibility: hidden;
    }

    #main {
        margin-left: 0;
        margin-right: 0;
    }

    h1 {
        align-self: center;
    }
}

